/*CSS reset settings here*/
*{ 
 margin: 0px;
 padding-top: 2px;
 padding-bottom: 15px;
}

.wrapper{
 width: 950px;
 margin: 0px auto;
}

.header{
 min-height: 150px;
 background-color: green;
 margin-top: 15px;
 margin-right:8px;
 margin-left:15px;
 margin-bottom:15px;
}


.navigation{
 min-height: 300px;
 width: 200px;
 background-color: blue;
 margin-left: 15px;
 display: inline-block;
 vertical-align: top;
}

.main_content{
 min-height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
 margin-left:15px;
 padding-right:8px;
}


.subcontents{
 min-height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin-top: 15px;
 margin-bottom: 15px;
 margin-left: 10px;
}


.advertisement{
 min-height: 120px;
 width: 660px;
 background-color: purple;
 margin-left: 10px;
}



@media only screen and (max-width:500px) {
    .sm {
        width:97%;

    }
    .header {
        width:97%;
    }

    .sm2{
        display:none;
    }

}


@media only screen and (max-width:1023px){
    .med {
        width:47%;
    }

    .med2 {
        width:71%;
    }

    .med3 {
        width:97%;
    }
}

